<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.liucz.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.entity.liucz.User">
        <id column="id" property="id" />
        <result column="emp_id" property="empId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="is_account_non_expired" property="isAccountNonExpired" />
        <result column="is_account_non_locked" property="isAccountNonLocked" />
        <result column="is_credentials_non_expired" property="isCredentialsNonExpired" />
        <result column="is_enabled" property="isEnabled" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <result column="is_admin" property="isAdmin" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <association property="emp" column="emp_id" resultMap="empBaseResultMap"/>
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="empBaseResultMap" type="com.trkj.entity.liucz.Emp">
        <result column="emp_id" property="empId"/>
        <result column="emp_name" property="empName" />
        <result column="emp_age" property="empAge" />
        <result column="emp_sex" property="empSex" />
        <result column="emp_address" property="empAddress" />
        <result column="emp_phone" property="empPhone" />
        <result column="avatar" property="avatar" />
        <result column="emil" property="emil" />
        <result column="qq" property="qq" />
        <result column="weix" property="weix" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="station" property="station" />
        <result column="synopsis" property="synopsis" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, emp_id, username, password, is_account_non_expired, is_account_non_locked, is_credentials_non_expired, is_enabled, department_id, department_name, is_admin, create_time, update_time, is_delete
    </sql>
    <update id="UpdateUserByUserId">
        update sys_user set username=#{username} , password=#{password} where id=#{id};
    </update>

    <select id="selectXmlPage3" resultMap="BaseResultMap">
        select u.emp_id,u.id,u.username,u.department_name,e.emp_name  from sys_user u left join sys_emp e on u.emp_id=e.emp_id where 1=1
        <!-- 条件参数 -->
        <if test="query.username != '' and query.username != null">
            and u.username like "%"#{query.username}"%"
        </if>
        <if test="query.departmentId != '' and query.departmentId != null">
            and u.department_id=#{query.departmentId}
        </if>
    </select>
    <select id="checkEmp" resultMap="BaseResultMap">
        select u.emp_id,u.id,u.username,u.department_name,e.emp_name,u.password  from sys_user u left join sys_emp e on u.emp_id=e.emp_id where id=#{id}
    </select>

    <insert id="saveUserRole">
        insert into sys_user_role (user_id,role_id) values
        <foreach collection="roleIds" item="item" index="index" separator=",">
            (#{userId},#{item})
        </foreach>
    </insert>
    <select id="findUserByUserName" resultType="com.trkj.entity.liucz.User">
        select * from sys_user where username=#{username}
    </select>
    <select id="findUserByUserId" resultType="com.trkj.entity.liucz.User">
          select * from sys_user where id=#{id}
    </select>
    <select id="findUserByEmpId" resultType="com.trkj.entity.liucz.User">
          select * from sys_user where emp_id =#{id}
    </select>

    <update id="updateUser">
        update sys_user set emp_id=#{empId}  where id=#{userId};
    </update>
    <select id="EmpcheckUser2" resultMap="BaseResultMap">
         select * from sys_user  where emp_id=#{empId};
    </select>
    <select id="findCaiwu" resultMap="BaseResultMap">
          select u.id,e.emp_name ,e.station from sys_user u inner join sys_emp e on u.emp_id=e.emp_id where u.department_name like  "财务部"
    </select>
    <select id="findWeiXiuG" resultMap="BaseResultMap">
         select u.id,e.emp_name  from sys_user u inner join sys_emp e on u.emp_id=e.emp_id where u.department_name ="后勤部" and  e.station like  "%维修%"
    </select>
    <select id="findUserEmpByUserId" resultMap="BaseResultMap">
  select u.*,e.*  from sys_user u inner join sys_emp e on u.emp_id=e.emp_id where u.id=#{id}

    </select>

    <delete id="deleteById2">
        delete from sys_user  where id=#{id}
    </delete>
</mapper>
