<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.tqw.PtMemberMapper">


    <!-- 私教会员封装 -->
    <resultMap id="PtMap" type="com.trkj.vo.queryTqw.MemberQueryVo">
        <id column="member_id" property="memberId" />
        <result column="meal_id" property="mealId" />
        <result column="meal_type" property="mealType" />
        <result column="mm_time" property="mmTime" />
        <result column="mm_date" property="mmDate" />
        <result column="mm_id" property="mmId" />
        <result column="pt_name" property="mealName" />
        <result column="ptp_name" property="projectName" />
        <result column="ptp_id" property="projectId" />
        <result column="emp_name" property="empName" />
        <result column="pt_price" property="mealPrice" />
        <result column="pt_time" property="mealTime" />
        <result column="emp_phone" property="empPhone" />
    </resultMap>


    <!-- 私教套餐详情封装 -->
    <resultMap id="PtMealAndEmpMap" type="com.trkj.vo.queryTqw.PtMealAndEmpQueryVo">
        <id column="pt_id" property="ptId" />
        <result column="pt_time" property="ptTime" />
        <result column="pt_name" property="ptName" />
        <result column="pt_price" property="ptPrice" />
        <result column="emp_name" property="empName" />
        <result column="emp_age" property="empAge" />
        <result column="emp_sex" property="empSex" />
        <result column="emp_phone" property="empPhone" />
        <result column="weix" property="weix" />
        <result column="emil" property="emil" />
    </resultMap>



<!--    通过电话查询私教会员或全部-->
    <select id="findPtMember" resultType="com.trkj.entity.tqw.Member" >
        select  distinct m.*
        from `member` m left join member_meal mm
        on m.member_id=mm.member_id
        <if test="query.memberPhone != null and query.memberPhone != '' " >
            and m.member_phone=#{query.memberPhone}
        </if>
        where mm.meal_type="私教"
        and m.member_state!=1
    </select>



<!--  通过电话和类型和套餐编号和项目编号和教练编号查私教会员-->
    <select id="findMemberByPtAll" resultMap="PtMap">
        select * from member_meal mm,`member` m,pt_meal pm,choose_projectname cp,pt_projectname pp,sys_emp se
            where  mm.meal_type=#{mealType}
                and m.member_phone=#{memberPhone}
                and mm.meal_id=#{mealId}
                and cp.ptp_id=#{ptpId}
                and cp.emp_id=#{empId}
                and m.member_state != 1
                and mm.member_id=m.member_id
                and mm.mm_id=cp.mm_id
                and cp.ptp_id=pp.ptp_id
                and cp.emp_id=se.emp_id
                and pm.pt_id=mm.meal_id
    </select>

<!--    根据所选项目表套餐办理编号查询教练，套餐信息(私教)-->
    <select id="selectPtMealAndEmpByMmId" resultMap="PtMealAndEmpMap">
        select * from choose_projectname cp,sys_emp se,pt_meal pm
        where cp.mm_id=#{mmid}
        and cp.emp_id=se.emp_id
        and cp.choose_id= pm.pt_id
    </select>

<!--    通过会员id查询办理的私教套餐-->
    <select id="findPtByMemberId" resultMap="PtMap">
        select * from member_meal mm
            inner join choose_projectname cp on mm.mm_id=cp.mm_id
            inner join pt_meal pm on cp.choose_id=pm.pt_id
            inner join pt_projectname pp on pp.ptp_id=cp.ptp_id
            inner join sys_emp se on se.emp_id=cp.emp_id
            where mm.meal_type="私教"
            and mm.member_id=#{memberId};
    </select>


</mapper>
