<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.StockInVoMapper">

    <resultMap id="BaseResultMap" type="com.trkj.vo.query.StockInQueryVo">
            <id property="inId" column="in_id" jdbcType="BIGINT"/>
            <result property="poId" column="po_id" jdbcType="BIGINT"/>
            <result property="inName" column="in_name" jdbcType="VARCHAR"/>
            <result property="inNum" column="in_num" jdbcType="BIGINT"/>
            <result property="inTime" column="in_time" jdbcType="TIMESTAMP"/>
            <result property="inType" column="in_type" jdbcType="VARCHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="inIs" column="in_is" jdbcType="TINYINT"/>
            <result property="changeLose" column="change_lose" />
            <result property="changeMore" column="change_more"/>

    </resultMap>
    <select id="findStockInAllAndLoseOrMore" resultType="com.trkj.vo.query.StockInQueryVo">
        SELECT s.*,c.change_lose,c.change_more FROM stock_in s LEFT JOIN
             changenum c on s.po_id=c.shopping_id where 1=1
              <if test='query.inName !=" " and query.inName !=null'>
                    and s.in_name like  "%"#{query.inName}"%"
             </if>

    </select>


</mapper>
