<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.StockInMapper">

    <resultMap id="BaseResultMap" type="com.trkj.entity.StockIn">
            <id property="inId" column="in_id" jdbcType="BIGINT"/>
            <result property="poId" column="po_id" jdbcType="BIGINT"/>
            <result property="inName" column="in_name" jdbcType="VARCHAR"/>
            <result property="inNum" column="in_num" jdbcType="BIGINT"/>
            <result property="inTime" column="in_time" jdbcType="TIMESTAMP"/>
            <result property="inType" column="in_type" jdbcType="VARCHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="inIs" column="in_is" jdbcType="TINYINT"/>
    </resultMap>


</mapper>
