<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.liucz2.CaigouShenheMapper">

    <resultMap id="BaseResultMap" type="com.trkj.entity.liucz2.CaigouShenhe">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="scheduleId" column="schedule_id" jdbcType="BIGINT"/>
            <result property="shenheempId" column="shenheemp_id" jdbcType="BIGINT"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
        <result property="result" column="result"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,schedule_id,shenheemp_id,
        state
    </sql>
    <insert id="addCaigouSh">
        insert into caigou_shenhe (schedule_id,shenheemp_id)values
        <foreach collection="shenheempId" item="item" index="index" separator=",">
            (#{scheduleId},#{item})
        </foreach>

    </insert>
    <update id="UpdateState">
        update caigou_shenhe set state=1 ,result=#{result} where id=#{id} and schedule_id=#{scheduleId} and shenheemp_id =#{shenheempId}
    </update>
    <update id="UpdateRefuseState">
        update caigou_shenhe set state=2,result=#{result} where id=#{id} and schedule_id=#{scheduleId} and shenheemp_id =#{shenheempId}
    </update>
    <delete id="delete5">
         update caigou_shenhe set state=5 where id=#{id} and schedule_id=#{scheduleId} and shenheemp_id =#{shenheempId}
    </delete>
</mapper>
