<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.liucz2.SalesMapper">

    <resultMap id="BaseResultMap" type="com.trkj.entity.liucz2.Sales">
        <id property="salesId" column="sales_id" jdbcType="BIGINT"/>
        <result property="salesmanId" column="salesman_id" jdbcType="BIGINT"/>
        <result property="mealId" column="meal_id" jdbcType="BIGINT"/>
        <result property="mealName" column="meal_name" jdbcType="VARCHAR"/>
        <result property="memberName" column="member_name" jdbcType="BIGINT"/>
        <result property="memberPhone" column="member_phone" jdbcType="VARCHAR"/>
        <result property="projectId" column="project_id" jdbcType="BIGINT"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="salesPrice" column="sales_price" jdbcType="BIGINT"/>
        <result property="state" column="state" jdbcType="TINYINT"/>
        <result property="salesTime" column="sales_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sales_id,salesman_id,meal_id,
        meal_name,member_name,member_phone,
        project_id,project_name,type,
        sales_num,sales_price,state,
        sales_time
    </sql>
    <update id="updateCommission">
        update commission set
        <if test="commission.commissionPt !=null and commission.commissionPt !=''">
            commission_pt=#{commission.commissionPt}
        </if>
        <if test="commission.commissionSj !=null and commission.commissionSj !=''">
            commission_sj=#{commission.commissionSj}
        </if>
        <if test="commission.commissionTc !=null and commission.commissionTc !=''">
            commission_tc=#{commission.commissionTc}
        </if>
        where salesman_id=#{commission.salesmanId}
    </update>

    <select id="findAllSalesIPage" resultType="com.trkj.entity.liucz2.Sales">
        select * from sales where salesman_id=#{query.salesmanId}
        <if test="query.mealName !=null and query.mealName !=''">
            and meal_name like "%"#{query.mealName}"%"
        </if>
        <if test="query.memberName !=null and query.memberName !=''">
            and member_name like "%"#{query.memberName}"%"
        </if>
        <if test="query.type !=null and query.type !=''">
            and type like "%"#{query.type}"%"
        </if>
    </select>

    <select id="findAllSales" resultType="com.trkj.entity.liucz2.Sales">
        select *
        from sales
    </select>
</mapper>
