<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.liucz2.TeamMealMapper">

    <resultMap id="BaseResultMap" type="com.trkj.entity.liucz2.TeamMeal">
            <id property="teamId" column="team_id" jdbcType="BIGINT"/>
            <result property="teamTime" column="team_time" jdbcType="TIMESTAMP"/>
            <result property="teamDate" column="team_date" jdbcType="TIMESTAMP"/>
            <result property="teamPrice" column="team_price" jdbcType="BIGINT"/>
            <result property="teamIs" column="team_is" jdbcType="TINYINT"/>
            <result property="teamName" column="team_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        team_id,team_time,team_date,
        team_price,team_is,team_name
    </sql>
    <select id="findAllTeamMeal" resultType="com.trkj.entity.liucz2.TeamMeal">
        select * from team_meal where 1=1
        <if test="query.teamName !=null and query.teamName !=''">
            and team_name like "%"#{query.teamName}"%"
        </if>
    </select>

    <insert id="saveTeamProject">
        insert into team_choose (team_id,tp_id) values
        <foreach collection="tpId" item="item" index="index" separator=",">
            (#{teamId},#{item})
        </foreach>
    </insert>
    <select id="findAllTeamMealState" resultType="com.trkj.entity.liucz2.TeamMeal">
        select * from team_meal where team_is=0
        <if test="query.teamName !=null and query.teamName !=''">
            and team_name like "%"#{query.teamName}"%"
        </if>
    </select>
    <select id="CountTeamNum" resultType="com.trkj.vo.queryLiucz2.CountTeamVo">
       select count( distinct mm.member_id)as value ,e.emp_name as name from choose_projectname cp
        inner join member_meal mm on cp.mm_id=mm.mm_id
        inner join  `member` me on me.member_id =mm.member_id
        inner join team_meal tm on tm.team_id=cp.choose_id
        inner join team_projectname tn on tn.tp_id = cp.ptp_id
         inner join sys_emp e on e.emp_id=cp.emp_id
        where mm.meal_type="团操" and me.member_state !=1
        group by cp.emp_id order by cp.emp_id desc;
    </select>
</mapper>
