<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.liucz2.TeamProjectMapper">

    <resultMap id="BaseResultMap" type="com.trkj.entity.liucz2.TeamProject">
            <id property="tpId" column="tp_id" jdbcType="BIGINT"/>
            <result property="tpName" column="tp_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="tpIs" column="tp_is" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        tp_id,tp_name,create_time,
        update_time,tp_is
    </sql>
    <select id="findTeamProject" resultType="com.trkj.entity.liucz2.TeamProject">
        select tp_id,tp_name,create_time,update_time,tp_is from team_projectname where  1=1
        <if test="query.tpName !=null and query.tpName !='' ">
            and tp_name=#{query.tpName}
        </if>
    </select>
    <select id="findTeamProjectBytpName" resultType="com.trkj.entity.liucz2.TeamProject">
          select  * from team_projectname where tp_name=#{name}
    </select>
    <select id="findTeamProjectState" resultType="com.trkj.entity.liucz2.TeamProject">
         select tp_id,tp_name,create_time,update_time,tp_is from team_projectname where  tp_is=0
    </select>
    <select id="findAllNameTeam" resultType="com.trkj.entity.liucz2.TeamProject">
         select * from team_projectname where tp_id=#{tpId};
    </select>

</mapper>
