<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.dao.liucz2.XueYuanTmMapper">


    <select id="findAll" resultType="com.trkj.vo.queryLiucz2.XueYuanTmVo">
        select cp.* , mm.* , me.*, tm.*, tn.* from choose_projectname cp
        inner join member_meal mm on cp.mm_id=mm.mm_id
        inner join  `member` me on me.member_id =mm.member_id
        inner join team_meal tm on tm.team_id=cp.choose_id
        inner join team_projectname tn on tn.tp_id = cp.ptp_id
        where cp.emp_id=#{query.empId} and me.member_state !=1
    <if test="query.mealType !=null and query.mealType !=''">
        and mm.meal_type=#{query.mealType}
    </if>
    <if test="query.memberName !=null and query.memberName !=''">
        and me.member_name=#{query.memberName}
    </if>


    </select>


</mapper>
